.highlighted1 {
    background-color: rgb(233, 233, 107);
    font-weight: bold;
  }
  
  .highlighted2 {
    background-color: rgb(148, 238, 148);
    font-weight: bold;
  }
  
  .highlighted3 {
    background-color: lightblue;
    font-weight: bold;
  }
  